<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h4>Iniciar Sesión</h4>
        </div>
        <div class="card-body">
          <div class="text-center mb-4">
            <img src="assets/img/mario.jpg" alt="Login Icon" class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
          </div>
          
          <form #f="ngForm" (ngSubmit)="login(f)">
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" name="email" ngModel required placeholder="ejemplo@correo.com">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" name="password" ngModel required placeholder="******">
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <small>¿No tienes cuenta? <a [routerLink]="['/registro']">Regístrate aquí</a></small>
        </div>
      </div>
    </div>
  </div>
</div>